[Desktop Entry]
Name=Pingus
Comment=Pingus, a lemmings style game with penguins
Comment[pl]=Gra typu lemmingi z pingwinami w roli głównej
Icon=pingus
Exec=pingus
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
