[Desktop Entry]
Name=Pingus
Comment=Pingus, a lemmings style game with penguins
Comment[pl]=Gra typu lemmingi z pingwinami w roli głównej
Icon=pingus.png
Exec=pingus
Terminal=0
Type=Application
Categories=GNOME;Application;Game;ArcadeGame;
Encoding=UTF-8
# vi: encoding=utf-8
